<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <script th:src="@{/css/jquery.min.js}"></script>
    <script th:src="@{/css/bootstrap.min.js}"></script>
</head>
<body>
    <div>
        <h1>Lista de Servicios</h1>

        <p>
            <div class="container w-25">
                <div class="card border border-2 mx-auto">
                    <h5 class="card-header" role="button" id="headingOne">
                        <a href="#" class="collapsed d-block" data-toggle="collapse" data-target="#busqueda">
                            Búsqueda avanzada
                        </a>
                    </h5>
                    <div id="busqueda" class="collapse">
                        <form th:action="@{servicios}" method="get">
                            <label class="col-form-label">RF:</label>
                            <input class="form-control" type="text" id="RF" name="RF"/>

                            <label class="col-form-label">Costo Inicial:</label>
                            <input class="form-control" type="number" id="costoIni" name="costoIni"/>

                            <label class="col-form-label">Costo Final:</label>
                            <input class="form-control" type="number" id="costoFin" name="costoFin"/>

                            <label class="col-form-label">Servicio:</label>
                            <input class="form-control" type="text" id="servicio" name="servicio"/>

                            <label class="col-form-label">Fecha de Inicio:</label>
                            <input class="form-control" type="text" id="fechaInicio" name="fechaInicio"/>

                            <label class="col-form-label">Fecha de Fin:</label>
                            <input class="form-control" type="text" id="fechaFin" name="fechaFin"/>

                            <div class="text-center">
                                <button type="submit" class="btn btn-secondary">buscar RF</button>
                            </div>


                        </form>

                    </div>
                </div>
            </div>
        </p>



        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Costo</th>
                </tr>
            </thead>
            <th:block th:each="servicio:${servicios}">
                <tr>
                    <td th:text="${servicio.nombre}"></td>
                    <td th:text="${servicio.descripcion}"></td>
                    <td th:text="${servicio.costo}"></td>
                    <td>
                        <a th:href="@{servicios/{nombre}/edit(nombre=${servicio.nombre})}">Editar</a>
                        <a th:href="@{servicios/{nombre}/delete(nombre=${servicio.nombre})}"
                        onclick="return confirm('¿Está seguro que desea eliminar este servicio?')">Borrar</a>
                    </td>
                </tr>
            </th:block>
        </table>
        <div>
            <a th:href="@{/}" class="btn btn-primary">Volver atrás</a>
            <a th:href="@{servicios/new}" class="btn btn-primary">Añadir servicio</a>
        </div>
    </div>
    
</body>
</html>