<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Servicio</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
    <form th:action="@{'/servicios/'+${nombre}+'/edit/save'}" th:object th:object="${servicio}"
    method="post">
    <div th:replace="~{fragments/servicioForm :: servicioForm(titulo='Editar servicio', servicio=${servicio})}">
        
    </div>
</form>
    
</body>
</html>