<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <script th:src="@{/css/jquery.min.js}"></script>
    <script th:src="@{/css/bootstrap.min.js}"></script>
</head>
<body>
    <div>
        <h1>Lista de Usuarios</h1>

        <p>
            <div class="container w-25">
                <div class="card border border-2 mx-auto">
                    <h5 class="card-header" role="button" id="headingOne">
                        <a href="#" class="collapsed d-block" data-toggle="collapse" data-target="#busqueda">
                            Búsqueda avanzada
                        </a>
                    </h5>
                    <div id="busqueda" class="collapse">
                        <form th:action="@{usuarios}" method="get">
                            <label class="col-form-label">RF:</label>
                            <input class="form-control" type="text" id="RF" name="RF"/>

                            <label class="col-form-label">Servicio:</label>
                            <input class="form-control" type="text" id="servicio" name="servicio"/>

                            <label class="col-form-label">Fecha de Inicio:</label>
                            <input class="form-control" type="text" id="fechaInicio" name="fechaInicio"/>

                            <label class="col-form-label">Fecha de Fin:</label>
                            <input class="form-control" type="text" id="fechaFin" name="fechaFin"/>

                            <div class="text-center">
                                <button type="submit" class="btn btn-secondary">buscar RF</button>
                            </div>


                        </form>

                    </div>
                </div>
            </div>
        </p>


        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Numero Documento</th>
                    <th>Email</th>
                    <th>Nombre</th>
                    <th>Tipo Usuario</th>
                    <th>Plan Consumo</th>



                </tr>
                <th:block th:each="usuario:${usuarios}">
                    <tr>
                        <td th:text="${usuario.numero_documento}"></td>
                        <td th:text="${usuario.email}"></td>
                        <td th:text="${usuario.nombre}"></td>
                        <td th:text="${usuario.tipoUsuario.nombre}"></td>
                        <td th:text="${usuario.planConsumo.nombre}"></td>
                        <td>
                            <a th:href="@{usuarios/{numero_documento}/edit(numero_documento=${usuario.numero_documento})}">
                                Editar
                            </a>
                            <a th:href="@{usuarios/{numero_documento}/delete(numero_documento=${usuario.numero_documento})}"
                            onclick="return confirm('¿sure?')">
                                Borrar
                            </a>
                        </td>
                    </tr>
                </th:block>
            </thead>
        </table>
        <div>
            <a th:href="@{/}" class="btn btn-primary">Volver atrás</a>
            <a th:href="@{usuarios/new}" class="btn btn-primary">Añadir Usuario</a>
        </div>
    </div>
    
</body>
</html>